
* {
    padding: 0;
    margin: 0;
}

header, nav, main, div {
    display: block;
}

/*Header block*/
header {
    background-color: slateblue;
    width: 100%;
    height: 100px;
}

.title {
    text-align: center;
    font-family: Serif;
    color: white;
}

nav {
    padding-right: 10px;
}

.navigation {
    float: right;
    margin: 0 auto 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    color: white;
}

li {
    display: inline;
}

a {
    color: white;
    font-family: "Sitka Text";
    text-decoration: none;
    transition: .3s linear;
}

a:hover {
    background: maroon;
    display: inline;
    border-radius: 5px;
    font-size: large;
}

/*Main content*/
div.text {
    float: left;
    width: 50%;
    border: 2px solid skyblue;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.text p {
    font-family: "Sitka Text";
    text-align: justify;
}

img {
    width: 295px;
    height: 295px;
    margin: auto;
}


div.images {
    float: right;
    width: 48%;
    border: 2px solid skyblue;
    border-radius: 10px;
}

/*footer block*/
footer {
    display: inline-block;
    background-color: slateblue;
    width: 100%;
    height: 100px;
}

footer p {
    color: white;
}

/*mobile block*/

@media (max-width: 740px) {
    main {
        height: 600px;
    }

    img {
        width: 150px;
        height: 150px;
    }
}
=======
* {
    padding: 0;
    margin: 0;
}

header, nav, main, div {
    display: block;
}

/*Header block*/
header {
    background-color: slateblue;
    width: 100%;
    height: 100px;
}

.title {
    text-align: center;
    font-family: Serif;
    color: white;
}

nav {
    padding-right: 10px;
}

.navigation {
    float: right;
    margin: 0 auto 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    color: white;
}

li {
    display: inline;
}

a {
    color: white;
    font-family: "Sitka Text";
    text-decoration: none;
    transition: .3s linear;
}

a:hover {
    background: maroon;
    display: inline;
    border-radius: 5px;
    font-size: large;
}

/*Main content*/
div.text {
    float: left;
    width: 50%;
    border: 2px solid skyblue;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.text p {
    font-family: "Sitka Text";
    text-align: justify;
}

img {
    width: 295px;
    height: 295px;
    margin: auto;
}


div.images {
    float: right;
    width: 48%;
    border: 2px solid skyblue;
    border-radius: 10px;
}

/*footer block*/
footer {
    display: inline-block;
    background-color: slateblue;
    width: 100%;
    height: 100px;
}

footer p {
    color: white;
}

/*mobile block*/

@media (max-width: 740px) {
    main {
        height: 600px;
    }

    img {
        width: 150px;
        height: 150px;
    }
}
